<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <main>

        <form class="calculator js-calculator">

            <div class="calculator__results">

                <span class="calculator__calculations js-calculations">10 X 10 =</span>
                <input class="calculator__result js-results" value="0"></input>

            </div>
            <div class="calculator__controls">

                <div class="calculator__inputs">
                    <div class="calculator__functions">
                        <button class="calculator__input calculator__input--ac button js-calc-button">AC</button>
                        <button class="calculator__input calculator__input--save button js-calc-button">Save</button>
                    </div>

                    <div class="calculator__numbers">
                        <button class="calculator__input calculator__input--number button js-calc-button">.</button>
                        <button class="calculator__input calculator__input--number button">0</button>
                        <button class="calculator__input calculator__input--number button button--disabled"></button>
                        <button class="calculator__input calculator__input--number button js-calc-button">1</button>
                        <button class="calculator__input calculator__input--number button js-calc-button">2</button>
                        <button class="calculator__input calculator__input--number button js-calc-button">3</button>
                        <button class="calculator__input calculator__input--number button js-calc-button">4</button>
                        <button class="calculator__input calculator__input--number button js-calc-button">5</button>
                        <button class="calculator__input calculator__input--number button js-calc-button">6</button>
                        <button class="calculator__input calculator__input--number button js-calc-button">7</button>
                        <button class="calculator__input calculator__input--number button js-calc-button">8</button>
                        <button class="calculator__input calculator__input--number button js-calc-button">9</button>
                    </div>
                </div>

                <div class="calculator__operators">
                    <button
                        class="calculator__input calculator__input--operator button js-calc-button">&divide;</button>
                    <button class="calculator__input calculator__input--operator button js-calc-button">&times;</button>
                    <button class="calculator__input calculator__input--operator button js-calc-button">-</button>
                    <button class="calculator__input calculator__input--operator button js-calc-button">+</button>
                    <button class="calculator__input calculator__input--operator button js-calc-button">=</button>
                </div>

            </div>

        </form>

    </main>


</body>

</html>