.calculator {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 200px;


    &__results {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
    }

    &__controls {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        width: 75%;
    }

    &__functions {
        display: flex;
        flex-wrap: wrap;
    }

    &__numbers {
        display: flex;
        flex-wrap: wrap;
    }

    &__operators {
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    &__input {

        &--ac {
            
        }

        &--save {
            width: 100px;

        }

    }

}